find_compactbiomes
find_quadhuts
.cproject
.project
docs/LayerSummary.aux
docs/LayerSummary.log
docs/LayerSummary.synctex.gz
docs/LayerSummary.toc
assets/2021-01-12_unique-village-150-shipwreck-300-ocean-portal-1500.csv
assets/all_12_eyes_sorted_ring_1_first.txt
